<%- include("header") %> 
    <form action="" method="POST">
        <input type="text" name="name"/>
        <button type="submit">Send</button>
    </form>
    <% if (name != null) { %>
    <%= name %>  
    <% } %> 
<%- include("footer") %>